* {
  box-sizing: border-box;
}

:root {
  --bgColor: #FAECE5;
  --blue: #2162A6;
}

body {
  background-color: var(--bgColor);
  text-align: center;
  color: var(--blue);
  font-family: monospace;
}

header {
  color: var(--blue);
  font-size: 1.5rem;
  text-decoration: wavy underline;
}

#output {
  margin-bottom: 2rem;
}

#game-board {
  display: grid;
  height: 500px;
  width: 500px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: auto;
  gap: 5px;
  background-color: var(--blue);
}

.cell {
  background-color: var(--bgColor);
  border: none;
  font-family: monospace;
  font-size: 5rem;
}

.X {
  color: #e365c1;
}

.O {
  color: #75b09c;
}

#reset {
  margin-top: 2rem;
  background-color: var(--bgColor);
  color: var(--blue);
  font-size: 2rem;
  font-family: monospace;
  padding: 0.5rem;
  width: calc(500px/3);
  border: 5px solid var(--blue);
  box-shadow: 5px 5px rgba(0, 0, 0, 0.4);
}

#reset:hover {
  box-shadow: 5px 5px rgba(0, 0, 0, 0.8);
}

#reset:active {
  background-color: var(--blue);
  color: var(--bgColor);
}

dialog li {
  list-style: none;
  margin: 10px;
}
