body {
  background-color: #FAECE5;
  text-align: center;
  color: #2162a6;
  font-family: monospace;
}

header {
  color: #2162A6;
  font-size: 1.5rem;
  text-decoration: wavy underline;
  /* text-decoration-thickness: 5px; */
}

#output {
  margin-bottom: 2rem;
}

#game-board {
  display: grid;
  height: 500px;
  width: 500px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: auto;
  gap: 5px;
  background-color: #2162A6;
}

.cell {
  background-color: #FAECE5;
  border: none;
  font-family: monospace;
  font-size: 3rem;
}

.X {
  color: red;
}

.O {
  color: green;
}
